@model WebWinkelGroep5.Models.ProductModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>document.title = "Details"</script>
    <h2>Details</h2>
    <img src="@Model.imageURL" alt="Sorry voor het ongemak!" style="width:auto;height:228px">
    <br />
    @Model.details
    <br />
    <form action="../Winkelmand/AddToWinkelmand" method="post">
        Hoeveelheid
        <input id="productId" name="productId" type="hidden" value="@Model.productId" />
        <input id="amount" name="amount" type="number" />
        <input type="submit" value="Stop in winkelmand" />
    </form>
    @{if (Session["isAdmin"] != null)
    {
        if ((bool)Session["isAdmin"])
        {
            <form action="../product/changeproduct" method="post">
                <input type="hidden" id="productId" name="productId" value="@Model.productId"/>
                
                <input type="submit" value="Bewerken" />
            </form>
        }
    }
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
