@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    Over ons

    Intro wordt gerund door twee bevriende meubelmakers uit Alkmaar die een nieuwe uitdaging zochten als zelfstandig ondernemers en het al bestaande Intro hadden overgenomen. Het Intro is sindsdien verder gegroeid tot een gezonde ondernemen die 14 mensen te werk stelt.<br />

    De productie van de meubelen doen wij geheel zelf in onze eigen werkplaats. Naast de werkplaats is onze ruime showroom gelegen, waar iedereen welkom is om onder het genot van een kopje koffie vrijblijvend rond te kijken. Onze klanten krijgen altijd deskundig advies door onze ervaren collega’s. Wanneer een klant in onze showroom misgrijpt kunnen wij altijd meubels op maat maken.<br />

    Sinds 1 april 2015 hebben we ook een webshop waar onze vaste en wisselende collectie meubels wordt aangeboden, nu kunnen mensen uit heel Nederland kunnen kennis maken met ons vakmanschap. In onze regio worden de meubels door ons persoonlijk bezorgd tot in de woonkamer.<br />
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>