@model WebWinkelGroep5.Models.BestellingModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>MaakBestelling</h2>
@{
    if (Model != null)
    {
        List<WebWinkelGroep5.Models.WinkelmandItemModel> items = Model.items;
        foreach (WebWinkelGroep5.Models.WinkelmandItemModel item in items)
        {
            <h3>@(item.amount)x @WebWinkelGroep5.Controllers.DatabaseController.getProductName(item.productId) a @(WebWinkelGroep5.Controllers.DatabaseController.getProductPrice(item.productId) * item.amount)</h3>
        }
    }
    }

<h2 align="center"> Contactgegevens</h2>
<form action="../Bestelling/setGegevens" method="post">
    <fieldset>
        @using (Html.BeginForm())
        {
            <p>Bedrijfsnaam</p>
            <input id="bedrijfsnaam" type="text">


            <p>Voornaam</p>
            <input id="voornaam" type="text">



            <p>Naam</p>
            <input id="naam" type="text">



            <p>Adres</p>
            <input id="adres" type="text">



            <p>Postcode</p>
            <input id="postcode" type="text">



            <p>Land</p>
            <input id="land" type="text">



            <p>Telefoon nummer</p>
            <input id="tel" type="text">


            @Html.ValidationSummary()
            <p>E-mailadres: </p>
            <p>@Html.TextBoxFor(m => m.To)</p>



            <input id="userid" type="hidden" value="@Model.userId">
            <!--<input id="userid" type="hidden" value="@Model.bestellingId">-->



            <input value="Verstuur" type="submit" />
        }
    </fieldset>

                <input type="radio" id="man" name="sex" value="male" checked>ja
                <input type="radio" name="sex" value="female">nee

                <br>Wilt u een bevestiging?
            
        


</form>