@model WebWinkelGroep5.Models.WinkelmandModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Uw winkelmand</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Uw winkelmand!</h2>
<br />

@{

    if (Model != null)
    {
        List<WebWinkelGroep5.Models.WinkelmandItemModel> items = Model.items;
        foreach (WebWinkelGroep5.Models.WinkelmandItemModel item in items)
        {
            <h3>@(item.amount)x @item.name a @item.price</h3>
        }
    }
    else
    {
        <a href="../Product/Index">Uw winkelmand is nog leeg. Klik hier om producten te kiezen!</a>
    }

}

<br>
<br>
@if(Session["Username"] != null)
    {
<a href='../Bestelling/MaakBestelling?prevUrl=/Winkelmand/Viewmand'>Plaats Bestelling</a>
}
    else
    {
<form action="~/Account/LoginPage" method="post">
    <input name="thisurl" id="thisurl" type="hidden" value="~/Winkelmand/ViewMand" />
    <input type="submit" value="Klik hier om in te loggen!" />
</form>
    }
