<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Wooods</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title"><img src="~/Images/logo.png" href="~/" /> @Html.ActionLink("Wooods", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <form action="~/product/searchproduct" method="post" id="searchform" name="searchform">
                    <input type="text" name="Zoeken" id="Zoeken" onkeypress="handle" />

                </form>
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu" style="float:left">
                        <li>@Html.ActionLink("Wooods", "Index", "Home")</li>
                        <li><a href="~/Product/">Producten</a></li>
                        <li><a href="~/winkelmand/viewmand">Winkelmand</a></li>
                        <li>@Html.ActionLink("Over ons", "About", "Home")</li>
                        <li><a href="~/Home/Werknemers">Werknemers</a></li>
                        <li>@Html.ActionLink("Contact", "Contact", "SendMailer")</li>
                        <li><a href="~/Home/TOS">Algemene voorwaarden</a></li>
                        <li><a href="~/Home/Disclaimer">Disclaimer</a></li>


                        @{
                            if (Session["isAdmin"] != null)
                            {
                                if ((bool)Session["isAdmin"])
                                {
                                    <li><a href="~/Admin/">Admin panel</a></li>
                                }
                            }
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Wooods B.V.</p>
            </div>
        </div>
    </footer>
    <script src="http://crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/md5.js"></script>
    @Scripts.Render("~/bundles/jquery")
    <script>
    function handle(e) {
        if (e.keyCode === 13) {
            document.getElementById("searchform").submit();
        }

        return false;
    }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>

